<!DOCTYPE html>
<html lang="en">
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>{% block title %}{% endblock title %} - Teacher index</title>
  {% block head %}
  {% endblock head %}
  <style>

    html, body{
        min-height: 100% !important;
    }
    section{
        border-radius: 10px !important;
    }

    .showpassword {
      cursor: pointer;
    }

    .showpasswordsingup {
      cursor: pointer;
    }

    /*
 * Footer
 */
    .blog-footer {
      padding: 2.5rem 0;
      color: #999;
      text-align: center;
      background-color: #f9f9f9;
      border-top: .05rem solid #e5e5e5;
    }

    .blog-footer p:last-child {
      margin-bottom: 0;
    }
  </style>
</head>
{% block body %}

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm">
      <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                     <a class="btn btn-basic focus:shadow-outline text-white" type="button" href="{% url 'added_content' %}">Back </a>
                 </li>
             </ul>
    <div class="container">
      <div class="container mx-auto flex flex-wrap p-1 flex-col md:flex-row items-center">
      <a class="navbar-brand" href="{% url 'home1' %}">HOME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
           <a class="nav-link" href="{% url 'course_list' %}">Course Details</a>
        </li>
<!--          <li class="nav-item active">-->
<!--            <a class="nav-link" href="{% url 'pricing' %}">Premium</a>-->
<!--          </li>-->

        </ul>
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="studentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <img src="https://img.icons8.com/color/24/000000/user-male-circle.png"/> {{ request.user|upper }}
        </a>
        <div class="dropdown-menu" aria-labelledby="studentDropdown">
          <a class="dropdown-item" href="info{{ info }}">User Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>
          {% else %}
          <!--<li class="nav-item active">
             Button trigger modal
            <button type="button" class="btn btn-outline-success mx-2 my-1 btn-sm" data-toggle="modal"
              data-target="#loginModal">Login</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-success mx-1 my-1 btn-sm" data-toggle="modal"
              data-target="#singupModal">Register</button>
          </li>-->
          {% endif %}
        </ul>
      </div>
    </div>
    </div>
  </nav>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div id="content" class="colM">
                  <br><h1>Add Lecture</h1>
          <div id="content-main">
              <form method="post" class="w-full max-w-sm">{% csrf_token %}
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-4">
                  <fieldset class="module aligned ">
                      <div class="form-row field-title">
                          <div class="form-group">
                              <label class="required" for="id_title">Title:</label>
                              <input type="text" name="title" class="form-control form-control-md vTextField" maxlength="100" required="" id="id_title">
                          </div>
                      </div>
                      <div class="form-row field-thumbnail_url">
                        <div class="form-group">
                            <label class="required" for="video_url">Video url:</label>
                            <input type="text" name="video_url" class="form-control form-control-md vTextField" maxlength="100" required="" id="video_url">
                        </div>
                    </div>
<!--                       <div class="md:w-1/4">-->
<!--                                <label class="required" for="inline-courses">Courses:</label>-->
<!--                            </div>-->
<!--                          <select name="c_title" class="form-control form-control-md " id="inline-courses">-->
<!--                              {% for tcourse in tcourse %}-->
<!--                              <option value="{{ tcourse.course.title }}" >{{ tcourse.course.title }}</option>-->
<!--                              {% endfor %}-->
<!--                          </select>-->
                    <div class="md:w-1/4">
                                <label class="required" for="inline-courses">Section</label>
                            </div>
                          <select name="s_title" class="form-control form-control-md " id="inline-section">
                              {% for tsection in tsection %}
                              <option value="{{ tsection.title }}" >{{ tsection.title }}</option>
                              {% endfor %}
                          </select>
                      <br>
                       <div class="submit-row">
                    <input type="submit" value="Save" class="btn btn-info" name="_save">
                       </div>
     </fieldset>
              </div>
          </div>
                  </form>
          </div>

              </div>
  </main>

<!-- Optional JavaScript -->
  {% if user.is_authenticated %}{% else %}
  <script type="text/javascript" src="{% static 'js/validation.js' %}"></script>
  {% endif %}
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

{% block js %}
{% endblock js %}
{% endblock body %}
</body>
</html>