
{% block content %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>{% block title %}{% endblock title %} - Student Index</title>
  {% block head %}
  {% endblock head %}
  <style>
   html, body{
        min-height: 100% !important;
    }
    section{
        border-radius: 10px !important;
    }

    .showpassword {
      cursor: pointer;
    }

    .showpasswordsingup {
      cursor: pointer;
    }

    /*
 * Footer
 */
    .blog-footer {
      padding: 2.5rem 0;
      color: #999;
      text-align: center;
      background-color: #f9f9f9;
      border-top: .05rem solid #e5e5e5;
    }

    .blog-footer p:last-child {
      margin-bottom: 0;
    }
  </style>
</head>
{% block body %}
<body>

<center>
    <h2>Payment done......</h2>

<a class="btn btn-basic focus:shadow-outline text-black" type="button" href="{% url 'user_course' %}">Back </a>
</center>
</body>
{% endblock body %}
{% endblock %}