{% extends "base/base.html" %}
{% block content %}
{% load static %}
<html lang="en" class="text-gray-900 antialiased leading-tight">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, minimum-scale=0.8"/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<!-- <div class="jumbotron jumbotron-fluid">-->
<!--        <div class="container">-->
<!--            <h1 class="display-3">StartUP!!</h1>-->
<!--            <p class="lead">Welcome to Online Course Learning Dashboard...........</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->
<body >
 <div class="container container-fluid">
<!--            <div class="lg:w-4/6 md:w-1/2 md:pr-16 lg:pr-0 pr-0">-->
                <iframe width="100%" height="1200px" frameborder="0" marginheight="0" marginwidth="0" scrolling="no"
                        src="https://img.freepik.com/free-vector/digital-online-education-concept-blank-space-laptop_255625-422.jpg?w=1060&t=st=1673519395~exp=1673519995~hmac=db785291eef91b74bf16068a5294782397bd378974cf5337b30398ccc1e264b0">
                </iframe>
            </div>
<!--            <img src="static/images/Courses.png"/>-->

{% include 'base/footer.html' %}
</body>
</html>
{% endblock %}